<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/checkout.css">
    <link rel="stylesheet" href="./js/checkout.js">
    <title>Hello, world!</title>
    <style>
        .Payment:hover{
    transform: scale(1.003);
          box-shadow: 0 10px 20px rgba(0, 0, 0, .05), 0 4px 8px rgba(0, 0, 0, .04);
}
        .Wallet:hover{
    transform: scale(1.003);
          box-shadow: 0 10px 20px rgba(0, 0, 0, .05), 0 4px 8px rgba(0, 0, 0, .04);
}
    </style>
</head>

<body>
    <div class="container ">
        <div class="row justify-content-center my-4">
            <div class="Payment col-md-5  mb-4 rounded" style="background-color:rgb(95, 71, 71) ;">
                <h4 style="color: aliceblue; padding-top: 10px; padding-bottom: 8px;">Payment Details</h4>
                <ul class="list-group mb-3 sticky-top">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Bus fare</h6>
                            <small class="text-muted">Seat Numbers: {{seats}}</small>
                        </div>
                        <span class="text-muted">Rs.{{price}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Tax</h6>
                            <small class="text-muted">CGST+SGST</small>
                        </div>
                        <span class="text-muted">Rs.200</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Convenience fee</h6>
                        </div>
                        <span class="text-muted">Rs.50</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">-Rs.150</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total fare</span>
                        <strong>Rs.{{pricef}}</strong>
                    </li>
                </ul>
                <div class="submit my-3" style="text-align: center;">
                    <form action="/passenger" method="post">
                        {% csrf_token %}
                        <input type="text" style="display: none;" name="seats" value="{{seats}}">
                        <input type="text" style="display: none;" name="pricef" value="{{pricef}}">
                        <input type="text" name="routeid" style="display: none;" value="{{routeid}}">
                    <input type="text" name="busid" style="display: none;" value="{{busid}}">
                    <input type="text" name="date" style="display: none;" value="{{date}}">
                    <button type="submit" class="btn btn-primary btn-lg">CHECK OUT</button>
                </form>
                </div>
            </div>
            <div class="col-md mx-3">
                <div class="Wallet rounded px-3 pt-3 pb-3" style="background-color:rgb(95, 71, 71,0.9) ; margin-top: 100px;">
                    <h4 style="text-align: center; color: rgb(250, 222, 185);">Wallet Details</h4>
                    <div class="row " style="color: rgb(252, 241, 241);">
                        <div class="col-sm">
                            <h5>User ID</h5>
                        </div>
                        <div class="col-sm">
                            <h6 style="text-align: end;">1232545</h6>
                        </div>
                        <hr style="color: white;">
                    </div>
                    <div class="row " style="color: rgb(252, 241, 241);">
                        <div class="col-sm">
                            <h5>Wallet ID</h5>
                        </div>
                        <div class="col-sm">
                            <h6 style="text-align: end;">1232545</h6>
                        </div>
                        <hr style="color: white;">
                    </div>
                    <div class="row " style="color: rgb(252, 241, 241);">
                        <div class="col-sm">
                            <h5>Wallet Balance</h5>
                        </div>
                        <div class="col-sm">
                            <h6 style="text-align: end;">1232545Rs</h6>
                        </div>
                        <hr style="color: white;">
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-success btn-lg">Wallet TopUp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>